body {
	background-image: url('../img/fondo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.tablero {
	width: 90%;
	max-width: 800px;
	margin: 40px auto;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 5px;
}

.tablero .carta {
	border-radius: 10px;
	display: block;
	position: relative;
}

.fin-de-juego {
	display: block;
	line-height: 200px;
	text-align: center;
	margin-top: 200px;
}

.oculto {
    display: none;
}
